.wraper {
    h1 {
        font-size: 4.8rem;
        color: var(--theme-color);
    }
    .addButton {
        display: flex;
        padding-top: 1.667vw;
        justify-content: space-between;
    }

}
